@import "../../responsive-layouts.style.scss";

.challenge-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.5em 2em;
  width: 100%;

  background: $clr-dark;
  color: $clr-light;
  position: absolute;
  bottom: 0;
  left: 0;

  & > * {
    margin: 0.25em auto;
  }

  .wrapper {
    a + a {
      margin-left: 0.5em;
    }
  }

  a {
    background-color: lighten($clr-accent, 10%);
    color: $clr-dark;
    padding: 0.5em;
    border-radius: 1em;
    text-transform: uppercase;
    @include font-size($fs-h6);
    &:hover {
      background-color: lighten($clr-accent, 5%);
    }
  }
}

@include screenSizeQuery("md") {
  .challenge-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
