@import "../../responsive-layouts.style.scss";

.challenge-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 2em;
  width: 100%;
  min-height: 10vh;

  background: darken($clr-dark, 10%);
  color: $clr-light;

  & > * {
    margin: 0.25em auto;
  }

  .wrapper {
    a + a {
      margin-left: 0.5em;
    }
  }

  a {
    background-color: lighten($clr-dark, 2%);
    color: $clr-light;
    padding: 0.5em 1em;
    border-radius: 1em;
    text-transform: uppercase;
    @include font-size($fs-h6);
    @include box-shadow();
    &:hover {
      background-color: lighten($clr-dark, 8%);
    }
  }
}

@include screenSizeQuery("md") {
  .challenge-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
