@import "../../responsive-layouts.style.scss";

.challenge-footer {
  width: 100%;
  min-height: 10vh;
  background-color: darken($clr-dark, 15%);
  color: $clr-light;
  display: flex;
  align-items: center;

  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    & > * {
      margin: 0.25em 0;
    }
  }

  .wrapper {
    a + a {
      margin-left: 0.5em;
    }
  }

  a {
    background-color: lighten($clr-dark, 2%);
    color: $clr-light;
    padding: 0.5em 1em;
    border-radius: 1em;
    text-transform: uppercase;
    @include font-size($fs-h6);
    @include box-shadow();
    &:hover {
      background-color: lighten($clr-dark, 8%);
    }
  }
}

@include screenSizeQuery("md") {
  .challenge-footer {
    .row {
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
    }
  }
}
