@import "../responsive-layouts.style.scss";

.body03 {
  background: $clr-accent2;
  color: $clr-dark;

  .container {
    width: 60%;
    max-width: 900px;
    padding: 5em;

    .title {
      @include font-size(3rem);
    }
    .subtitle {
      color: lighten($clr-dark, 10%);
    }

    .btn {
      background-color: $clr-accent;
      color: $clr-light;
      border-radius: 5em;
      padding: 1em 2em;
      margin-top: 2em;
    }
  }
}
