@import "../responsive-layouts.style.scss";

.body02 {
  .intro {
    background: $clr-accent2;
  }
  .container {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
    padding: 1em 0;
    .intro-content {
      width: 50%;
    }
  }
}
