@import "../responsive-layouts.style.scss";

.body02 {
  .container {
    background: $clr-accent2;

    .wrapper {
      width: 80%;
      max-width: 750px;
      margin: 0 auto;

      color: $clr-dark;
      padding: 50px 0;

      .intro-content {
        width: 50%;
      }
    }
  }

  .more-content-wrapper {
    width: 80%;
    max-width: 750px;
    padding: 2em 0;
    margin: 0 auto;
  }
}
