@import "~rfs/scss";

$ff-primary: "Lato", sans-serif;
$ff-secondary: "Montserrat", sans-serif;

$fs-h1: 5rem;
$fs-h2: 3.75rem;
$fs-h3: 2.25rem;
$fs-h4: 1.75rem;
$fs-h5: 1.5rem;
$fs-h6: 1rem;

$fw-reg: 300;
$fw-bold: 700;

//https://www.color-hex.com/color-palette/71855

$clr-light: #fff;
$clr-dark: #385a7c;
$clr-accent: #f97171;
$clr-accent2: #8ad6cc;
$clr-accent3: #ffb554;
$clr-highlight: #7171f9;
