@import "config.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: $clr-light;
  color: $clr-dark;
  margin: 0;
  font-family: $ff-primary;
  line-height: 1.6;
  @include font-size(1.125rem);
}

ul,
li,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

:focus {
  outline: 3px solid $clr-accent;
  outline-offset: 3px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: $clr-accent;
  color: $clr-dark;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: $fw-bold;
  border-radius: 0.2em;
  transition: transform 200ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

/* Typography */
strong {
  font-weight: $fw-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  font-family: $ff-primary;
}

h1 {
  @include font-size($fs-h1);
}
h2 {
  @include font-size($fs-h2);
}
h3 {
  @include font-size($fs-h3);
}
h4 {
  @include font-size($fs-h4);
}
h5 {
  @include font-size($fs-h5);
}
h6 {
  @include font-size($fs-h6);
}

/* Styling the titles and subtitles*/

.section__title {
  margin-bottom: 0.25em;
}

.section__subtitle {
  // paragraph
  margin: 0;
  @include font-size($fs-h5);
}
