@import "config.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: $clr-light;
  color: $clr-dark;
  margin: 0;
  font-family: $ff-primary;
  line-height: 1.6;
  @include font-size(1.125rem);
}

ul,
li,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* Typography */
strong {
  font-weight: $fw-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  font-family: $ff-primary;
}

h1 {
  @include font-size($fs-h1);
}
h2 {
  @include font-size($fs-h2);
}
h3 {
  @include font-size($fs-h3);
}
h4 {
  @include font-size($fs-h4);
}
h5 {
  @include font-size($fs-h5);
}
h6 {
  @include font-size($fs-h6);
}
