@import "../responsive-layouts.style.scss";

.body05 {
  .container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

    &.row {
      display: flex;
      justify-content: space-between;
    }
  }

  .hero {
    background-color: $clr-accent2;
    padding: 5em 0;

    .hero__text {
      width: 60%;
      margin-right: 2em;

      p {
        margin-bottom: 3em;
      }

      .btn {
        padding: 0.75em 2em;
        background: $clr-accent;
        color: $clr-light;
        border-radius: 5em;
        text-transform: uppercase;
        font-weight: $fw-bold;

        &:hover,
        &:focus {
          background-color: darken($clr-accent, 5%);
        }
      }
    }

    .hero__image {
      width: 32%;
      align-self: flex-start;
    }
  }

  .main {
    margin: 3em 0;

    .primary-content {
      width: 62%;

      .section__title {
        color: lighten($clr-highlight, 5%);
        // color: $clr-dark;
      }
    }

    .sidebar {
      width: 32%;
      background-color: $clr-dark;
      color: $clr-light;
      padding: 1.5em;
      text-align: center;
    }
  }
}
